<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }



  .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  table {
    border-collapse: collapse;
  }

  table,
  td {
    border: 1px solid;
  }

  .calendar-body {
    display: flex;
    flex-direction: column;
  }

  .calendar-body tbody td,
  .calendar-body thead th {
    text-align: center;
    margin: 0;
    padding: 5px;
  }

  svg {
    height: 20px;
    color: #acacac;
  }

  /* .tenant-reserved-list p,
  .tenant-reserved-list h2 {
    margin-bottom: 0;
  } */

  /* .tenant-reserved-list ul {
    list-style: none;
    padding: 0;
  } */

  /* li.tenant-details h3 {
    font-weight: 500;
  } */
</style>


<div class="content" role="main">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="calendar">
          <div class="calendar-header">

            <svg (click)="getPrevMonth(currentDate)" id="prev-month" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512" fill="currentColor">
              <path d="M44.7 256l294.6 256c8.1 7 20.5 1.6 20.5-9.4V9.4c0-11-12.4-16.4-20.5-9.4L44.7 256z" />
            </svg>

            <h2 id="month-year">{{ currentDate.toLocaleString('default', { month: 'long',})}}
              {{currentDate.getFullYear()}}
            </h2>

            <svg (click)="getNextMonth(currentDate)" id="next-month" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512" fill="currentColor">
              <path d="M403.3 256L108.7 0c-8.1-7-20.5-1.6-20.5 9.4v487.2c0 11 12.4 16.4 20.5 9.4l294.6-256z" />
            </svg>

          </div>
          <div class="calendar-body">

            <table>
              <thead>
                <tr class="">
                  <th *ngFor="let day of daysOfWeek">{{day}}</th>
                </tr>
              </thead>
              <tbody class="">
                <ng-container *ngIf="weeks.length > 0">
                  <tr *ngFor="let week of weeks">
                    <td *ngFor="let day of week">
                      <p (click)="checkStays(day.completeDate)"> {{day ? day.date : ""}}</p>
                    </td>

                  </tr>
                </ng-container>
              </tbody>
            </table>


          </div>
        </div>
      </div>


      <div class="col-md-6">
        <ng-container *ngIf="showDetails">
          <div class="tenant-details" *ngIf="!currentStay">
            <h3><strong>Tenant Name: </strong>
              <input type="text" (keyup)=" bindTenantName($event)" class="form-control" />
            </h3>
            <h3><strong>Stay date: </strong> {{selectedDate}} </h3>
            <button class="btn btn-primary" (click)="confirmStay(selectedDate)">Confirm Stay</button>
          </div>

          <div class="tenant-details" *ngIf="currentStay">
            <h3><strong>Tenant Name: </strong>
              {{currentStay.tennantName ? currentStay.tennantName : '-'}}
            </h3>
            <h3><strong>Stay date: </strong> {{selectedDate}} </h3>
            <button (click)="cancelStay(selectedDate)" class="btn btn-danger">Cancel Stay</button>
          </div>
        </ng-container>
      </div>



    </div>
    <div class="row">
      <div class="col-md-6 tenant-reserved-list">
        <h2>List of tenants</h2>
        <p>Here is the list of tennts with name and date</p>
        <div>

          <table class="table">
            <thead>
              <tr>
                <th>Tenant Name</th>
                <th>Date</th>
              </tr>
            </thead>

            <tbody>
              <ng-container *ngIf="reservedArray.length > 0">
                <tr *ngFor="let reserve of reservedArray">
                  <td>{{reserve.tennantName}}</td>
                  <td>{{ reserve.dateFormatted }}</td>
                </tr>
              </ng-container>
              <ng-container *ngIf="reservedArray.length == 0">
                <tr>
                  <td colspan="2"> No records</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>